<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="concert">
	
	<insert id="create" parameterType="concertVO">
		insert into concert values (null, #{title}, #{genre}, #{place})
	</insert>
	<delete id="delete"  parameterType="String">
		delete from concert where title = #{title}
	</delete>
	
	<update id="update"  parameterType="concertVO">
		update concert set place = #{place} where title = #{title}
	</update>
	
	<select id="one" parameterType="String" resultType="concertVO">
		select * from concert where title = #{title}	
	</select>
	
	<select id="all" resultType="concertVO">
		select * from concert
	</select>
</mapper>











